* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
	background-color: black;
}

:root {
	--primary: #ffffff;
	--blue: rgba(42, 79, 254, 1);
	--text-color-secondary: #333333;
}
